* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #293251;
    font-size: 10px;
    font-family: 'Prompt', sans-serif;
}

.container {
    width: 300px;
    text-align: center;
    background-color: #FFF;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 7em;
    padding-bottom: 50px;
}

.app-title {
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    font-size: 1.6em;
}

.app-title p {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.notification {
    font-size: 1.5em;
    background-color: #f8d7da;
    display: none;
}

.notification p {
    color: #7a686a;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container {
    width: 300px;
    background-color: #F4F9FF;
}

.weather-icon {
    width: 300px;
    height: 128px;
}

.weather-icon img {
    display: block;
    margin: 0 auto;
}

.temperature-value {
    width: 300px;
    font-size: 1.7em;
    border-radius: 100%;
    font-weight: 600;
}

.temperature-value p {
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover {
    background-color: #eeeeee;
}

.temperature-value span {
    color: #293251;
    font-size: 0.5em;
}

.temperature-description {
    font-size: 1.7em;
}

.temperature-description p {
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.location {
    font-size: 1.6em;
}

.location p {
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}